<h1>投稿が完了しました！</h1>
<h4>name: <%= @feed.user.name %></h4>

<h4>投稿コンテンツの確認</h4>
<p>title: <%= @feed.title %></p>
<p>content: <%= @feed.content %></p>
<p>picture: <%= image_tag @feed.image.url %></p>